<!DOCTYPE html>
{% from "render_field.html" import render_field %}

<html lang="en">
<!-- Head -->
<head>
<title>PersonalWebsite | Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<meta name="keywords" content="Professional CV a Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

<!-- menu -->
<link type="text/css" rel="stylesheet" href="static/css/cm-overlay.css" />
<!-- //menu -->
<link href="static/css/jquery.fatNav.css" rel="stylesheet" type="text/css">

<!--FlexSlider-->
	<link rel="stylesheet" href="static/css/flexslider.css" type="text/css" media="screen" />
<!--//FlexSlider-->

<link rel="stylesheet" href="static/css/lightbox.css"><!-- For-gallery-CSS -->

<!-- custom css theme files -->
	<link rel="stylesheet" href="static/css/bootstrap.min.css" type="text/css" media="all">
	<link rel="stylesheet" href="static/css/font-awesome.min.css" />
	<link rel="stylesheet" href="static/css/style.css" type="text/css" media="all">
<!-- //custom css theme files -->

<!-- google fonts -->
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=cyrillic,cyrillic-ext,latin-ext,vietnamese" rel="stylesheet">
<!-- //google fonts -->

</head>
<!-- Body -->
<body id="home">
<!-- banner -->
	<nav class="w3-navbar">
					<div class="container">
						<div class="nav-top">
						
							  <!-- Logo -->
								  <div class="logo">
								  <a href="#home">
									Personal <span>Website</span>
								  </a>
							  </div>
							  <!-- Logo -->
							<div class="right">
								<div class="w3-socials">
									<ul>
										<li>
											<a href="#"><span class="fa fa-github"></span></a>
										</li>
										<li>
											<a href="#"><span class="fa fa-instagram"></span></a>
										</li>
										<li>
											<a href="#"><span class="fa fa-google"></span></a>
										</li>
										<li>
											<a href="#"><span class="fa fa-twitter"></span></a>
										</li>
									</ul>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
						
					</div> <!-- end container -->
				
	</nav>
	
<div class="w3l-banner">
<div class="wthree-dot">

	<!-- nav -->
	<div class="w3layouts-nav-right">
		<div class="fat-nav">
			<div class="fat-nav__wrapper">
				<ul>
					<li><a href="#home" class="scroll active">Home</a></li>
					<li><a href="#about"  class="scroll" >About Me</a></li>
					<li><a href="#services"  class="scroll" >My Services</a></li>
					<li><a href="#skills"  class="scroll" >My Skills</a></li>
					<li><a href="#gallery"  class="scroll" >My projects</a></li>
					<li><a href="#stats"  class="scroll" >Stats</a></li>
					<li><a href="#experience"  class="scroll" >Work Experience</a></li>
					<li><a href="#contact"  class="scroll" >Contact</a></li>
				</ul>
			</div>
		</div>
	</div>
	<!-- //nav -->
	
		<!-- //Header -->
		<div class="container">
			<div class="flexslider-info">
				<section class="slider col-md-6">
					<div class="flexslider">
						<ul class="slides">
							<li>
							<div class="w3l-info">
								<h1>My name is <span>PHILEMON</span></h1>
								<p>Acheampong Philemon is my full name, and i am happy the see you here :).. Read more about me here </p>
								<ul>
									<li><a href="#" class="w3ls_more" >Hire Me</a></li>
									<li><a href="#contact" class="scroll w3l_contact">Contact Me</a></li>
								</ul>
							</div>
							</li>
							<li>
								<div class="w3l-info">
								<h2>this is my <span>website</span></h2>
								<p>HELLO!, Bonjour!, 你好 Ni hǎo!...... I am very happy to see your here. If you want any information about me, view them below or contact me. </p>
								<ul>
									<li><a href="#" class="w3ls_more" >Hire Me</a></li>
									<li><a href="#contact" class="scroll w3l_contact">Contact Me</a></li>
								</ul>
								</div>
							</li>
							<li>
								<div class="w3l-info">
								<h3>I'm a <span>computer engineer</span></h3>
								<p>I am a Computer Engineer and a web developer. My fields are computer hardware and networking also i develope with Python, JavaScript and HTML5/CSS. View my Skills and Services below. </p>
								<ul>
									<li><a href="#" class="w3ls_more">Hire Me</a></li>
									<li><a href="#contact" class="scroll w3l_contact">Contact Me</a></li>
								</ul>
								</div>
							</li>
						</ul>
					</div>
				</section>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</div>
<!-- //banner -->

<!-- About section -->
<div class="about" id="about">
	<div class="container">
		<h3 class="text-center">About Me</h3>
		
		<div class="col-md-5 about_left">
							<ul class="address">
								<li>
									<ul class="agileits-address-text ">
										<li><b>Name</b></li>
										<li>Acheampong Philemon</li>
									</ul>
								</li>
								<li>
									<ul class="agileits-address-text ">
										<li><b>D.O.B</b></li>
										<li>21-06-1995</li>
									</ul>
								</li>
								<li>
									<ul class="agileits-address-text">
										<li><b>PHONE</b></li>
										<li>(+233)27-279-0174 / (+233)20-081-2752</li>
									</ul>
								</li>
								<li>
									<ul class="agileits-address-text">
										<li><b>JOB</b></li>
										<li>Computer engineer & Developer</li>
									</ul>
								</li>
								<li>
									<ul class="agileits-address-text">
										<li><b>EXPERIENCE</b></li>
										<li>+4 Years</li>
									</ul>
								</li>
								<li>
									<ul class="agileits-address-text">
										<li><b>ADDRESS </b></li>
										<li>P. O. Box LT 80, Laterbiokorshie, Accra-Ghana</li>
									</ul>
								</li>
								<li>
									<ul class="agileits-address-text">
										<li><b>E-MAIL </b></li>
										<li><a href="mailto:example@mail.com"> gphileto@gmail.com</a></li>
									</ul>
								</li>
								<li>
									<ul class="agileits-address-text">
										<li><b>WEBSITE </b></li>
										<li><a href="#">www.mywebsite.com</a></li>
									</ul>
								</li>
							</ul>
							<div class="w3-socials about-social">
									<ul>
										<li>
											<a href="#"><span class="fa fa-github"></span></a>
										</li>
										<li>
											<a href="#"><span class="fa fa-google"></span></a>
										</li>
										<li>
											<a href="#"><span class="fa fa-instagram"></span></a>
										</li>
										<li>
											<a href="#"><span class="fa fa-twitter"></span></a>
										</li>
									</ul>
								</div>
		</div>
		<div class="col-md-7 about_right">
			<h3>Hi, I am Acheampong Philemon</h3>
			<h4>Computer Engineer & Web Developer : +3 years in computer hardware and networking / +1 years of coding experience</h4>
			<p>I am an energetic, ambitious person who has developed a mature and responsible approach to any task that I undertake, or situation that I am presented with.
                I love working together with a united team and my main aim is to complete any task given to me successfully on time and also do my part to promote
                any institution I find myself into the highest. </p>
			<p>I studied Computer System Engineering at IPMC I.T Training College. I specialized in CompTIA Aplus and Nplus. Later I Learned Python
            Programming language and other programming Languages like JavaScript, Bootstrap, Html, CSS etc. I have done projects in all these three fields
            of I.C.T, Hardware and System Software Solutions, Network Installation Projects and Web App Projects.</p>
			<ul>
				<li><a href="#contact" class="w3ls_more scroll" >Hire Me</a></li>
				<li><a href="#contact" class="w3l scroll">Contact Me</a></li>
			</ul>
		</div>
		<div class="clearfix"></div>
		
	</div>
</div>
<!-- //About section -->

<!-- /services -->
<div class="w3-services" id="services">
	<div class="container">
			<div class="w3-services-grids">
						<h3 class="text-center">My Services</h3>
				<div class="col-md-4 w3-services-left-grid">
					<h4>Ach-Phix I.T Solutions</h4>
					<p> I am always open to Clients. If you have any problem relating to any of my service, want to make any enquaries about my service or want to Hire me,
						you can connect me via my moblie numbers or send your email and messages to me</p>
					<div class="more">
						<a href="#contact">Know more</a>
					</div>
				</div>
				<div class="col-md-8 w3-services-right-grid">
				<div class="w3-icon-grid-gap1">
					<div class="col-md-4 w3-icon-grid1">
						<i class="fa fa-codepen" aria-hidden="true"></i>
						<h3>Web design</h3>
						<div class="clearfix"></div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisci ngelit. In euismod faucibus quam.</p>
					</div>
					<div class="col-md-4 w3-icon-grid1">
						<i class="fa fa-mobile" aria-hidden="true"></i>
						<h3>Mobile Apps</h3>
						<div class="clearfix"></div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisci ngelit. In euismod faucibus quam.</p>
					</div>
					<div class="col-md-4 w3-icon-grid1">
						<i class="fa fa-hourglass" aria-hidden="true"></i>
						<h3>Animation</h3>
						<div class="clearfix"></div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisci ngelit. In euismod faucibus quam.</p>
					</div>
					<div class="clearfix"></div>
					</div>
					<div class="w3-icon-grid-gap2">
					<div class="col-md-4 w3-icon-grid1">
						<i class="fa fa-modx" aria-hidden="true"></i>
						<h3>Photoshop</h3>
						<div class="clearfix"></div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisci ngelit. In euismod faucibus quam.</p>
					</div>
					<div class="col-md-4 w3-icon-grid1">
						<i class="fa fa-bar-chart" aria-hidden="true"></i>
						<h3>Marketing</h3>
						<div class="clearfix"></div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisci ngelit. In euismod faucibus quam.</p>
					</div>
					<div class="col-md-4 w3-icon-grid1">
						<i class="fa fa-shopping-bag" aria-hidden="true"></i>
						<h3>Development</h3>
						<div class="clearfix"></div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisci ngelit. In euismod faucibus quam.</p>
					</div>
					<div class="clearfix"></div>
					</div>
				</div>
				<div class="clearfix"></div>
		</div>
	</div>
</div>
<!-- //services -->

<!--skills -->
<div class="skills-agileinfo" id="skills">
	<div class="container">
		<h3 class="text-center">My skills</h3>
				<div class="modal-spa">
					<div class="skills"> 
						<div class="col-md-6 bar-grids bargrids-left">
							<h4> Technical Skills </h4>
							<p>I have acquired great skills in the field of I.C.T. I studied Computer Engineering at IPMC and also
                            learned Coding as Self-taught course. Below is the rating for my skills :</p>
							<h6>web development  <span> 75% </span></h6>
							<div class="progress">
								<div class="progress-bar progress-bar-striped active" style="width: 75%">
								</div>
							</div>
							<h6>Computer Hardware and Networking <span> 90% </span></h6>
							<div class="progress  w3-agile">
								<div class="progress-bar progress-bar-striped active" style="width: 90%">
								</div>
							</div>
							<h6>Python<span>80% </span></h6>
							<div class="progress  w3-agile">
								<div class="progress-bar progress-bar-striped active" style="width: 80%">
								</div>
							</div>
							<h6>JavaScript and HTML/CSS <span> 75% </span></h6>
							<div class="progress  w3-agile prgs-w3agile-last">
								<div class="progress-bar progress-bar-striped active" style="width: 75%">
								</div>
							</div>
						</div> 
						<div class="col-md-6 bar-grids  w3-agile">
							<h4> My Hobbies </h4>
							<p>I have many other things i love doing, but these are my favourites :</p>
							<div class="col-md-4 hobbies-grid1 grid1">
								<span class="fa fa-codepen"></span>
								<h5>Coding</h5>
							</div>
							<div class="col-md-4 hobbies-grid1 grid2">
								<span class="fa fa-hourglass"></span>
								<h5>Research</h5>
							</div>
							<div class="col-md-4 hobbies-grid1 grid3">
								<span class="fa fa-camera"></span>
								<h5>Photography</h5>
							</div>
							<div class="clearfix"></div>


							<div class="col-md-4 hobbies-grid1 grid5">
								<span class="fa fa-headphones"></span>
								<h5>Music</h5>
							</div>
							<div class="col-md-4 hobbies-grid1 grid6">
								<span class="fa fa-tint"></span>
								<h5>Thinking</h5>
							</div>
							<div class="clearfix"></div>
							
						</div>
						<div class="clearfix"> </div>	
					</div>
				</div> 
		</div> 
</div> 
<!-- //skills -->

<!--gallery-->
	<div class="gallery" id="gallery">
		<div class="container">
		<div class="about-head text-center ">
		<h3 class="text-center">My Projects</h3>
		</div>	
			<div class="gallery-info">
				<div class="col-md-3 gallery-grids">
					<a href="static/images/p1.jpg" class="gallery-box" data-lightbox="example-set" data-title="">
						<img src="static/images/p1.jpg" alt="" class="img-responsive zoom-img">
					</a>
				</div>
				<div class="col-md-3 gallery-grids">
					<a href="static/images/p2.jpg" class="gallery-box" data-lightbox="example-set" data-title="">
						<img src="static/images/p2.jpg" alt="" class="img-responsive zoom-img">
					</a>
				</div>
				<div class="col-md-3 gallery-grids">
					<a href="static/images/p3.jpg" class="gallery-box" data-lightbox="example-set" data-title="">
						<img src="static/images/p3.jpg" alt="" class="img-responsive zoom-img">
					</a>
				</div>
				<div class="col-md-3 gallery-grids">
					<a href="images/p4.jpg" class="gallery-box" data-lightbox="example-set" data-title="">
						<img src="static/images/p4.jpg" alt="" class="img-responsive zoom-img">
					</a>
				</div>
				<div class="col-md-3 gallery-grids">
					<a href="images/p5.jpg" class="gallery-box" data-lightbox="example-set" data-title="">
						<img src="static/images/p5.jpg" alt="" class="img-responsive zoom-img">
					</a>
				</div>
				<div class="col-md-3 gallery-grids">
					<a href="images/p6.jpg" class="gallery-box" data-lightbox="example-set" data-title="">
						<img src="images/p6.jpg" alt="" class="img-responsive zoom-img">
					</a>
				</div>
				<div class="col-md-3 gallery-grids">
					<a href="images/p7.jpg" class="gallery-box" data-lightbox="example-set" data-title="">
						<img src="images/p7.jpg" alt="" class="img-responsive zoom-img">
					</a>
				</div>
				<div class="col-md-3 gallery-grids">
					<a href="images/p8.jpg" class="gallery-box" data-lightbox="example-set" data-title="">
						<img src="images/p8.jpg" alt="" class="img-responsive zoom-img">
					</a>
				</div>
				<div class="col-md-3 gallery-grids">
					<a href="images/p9.jpg" class="gallery-box" data-lightbox="example-set" data-title="">
						<img src="images/p9.jpg" alt="" class="img-responsive zoom-img">
					</a>
				</div>
				<div class="col-md-3 gallery-grids">
					<a href="images/p10.jpg" class="gallery-box" data-lightbox="example-set" data-title="">
						<img src="images/p10.jpg" alt="" class="img-responsive zoom-img">
					</a>
				</div>
				<div class="col-md-3 gallery-grids">
					<a href="images/p11.jpg" class="gallery-box" data-lightbox="example-set" data-title="">
						<img src="images/p11.jpg" alt="" class="img-responsive zoom-img">
					</a>
				</div>
				<div class="col-md-3 gallery-grids">
					<a href="images/p12.jpg" class="gallery-box" data-lightbox="example-set" data-title="">
						<img src="images/p12.jpg" alt="" class="img-responsive zoom-img">
					</a>
				</div>
				<div class="clearfix"> </div>	
			</div>
			<script src="static/js/lightbox-plus-jquery.min.js"></script>
		</div>
</div>
<!--//gallery-->

<!-- stats -->
	<div class="stats" id="stats">
		<div class="container">
		<h3 class="text-center">Stats</h3>
			<div class="w3layouts_skills_grids">
				<div class="col-md-3 w3ls_about_guage">
					<canvas id="gauge1" width="200" height="100"></canvas>
					<h4>Projects Done</h4>
				</div>
				<div class="col-md-3 w3ls_about_guage">
					<canvas id="gauge2" width="200" height="100"></canvas>
					<h4>Web Apps</h4>
				</div>
				<div class="col-md-3 w3ls_about_guage">
					<canvas id="gauge3" width="200" height="100"></canvas>
					<h4>Clients Success</h4>
				</div>
				<div class="col-md-3 w3ls_about_guage">
					<canvas id="gauge4" width="200" height="100"></canvas>
					<h4>Sales</h4>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- //stats -->

<!-- My experience -->
<section class="experience" id="experience">
	<div class="container">
		<h3 class="text-center">Work Experience</h3>
		<div class="col-md-5 exp_left">
			<img src="static/images/ph.jpg" alt="" />
		</div>
		<div class="col-md-7 exp_right">
			<h3>My Experience</h3>
			<p>Morbi imperdiet scelerisque felis, eget auctor libero eleifend nec. 
			Curabitur a aliquet justo. Etiam et ullamcorper dolor. Nam pulvinar accumsan congue.
			Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
			<div class="exp_grids">
				<div class="exp_grid1">
					<h4>Hardware and System Software Technician</h4>
					<h5>2016-2017</h5>
					<p>Aliquam dignissim mollis metus at tempor. Donec ac malesuada nibh, 
					vel tincidunt nibh. Fusce facilisis, mi in tristique elementum, sem magna. </p>
					<span class="fa fa-circle"></span>
				</div>
				<div class="exp_grid1">
					<h4>Network Technicial in Wyllnet Technologies</h4>
					<h5>2018</h5>
					<p>Aliquam dignissim mollis metus at tempor. Donec ac malesuada nibh, 
					vel tincidunt nibh. Fusce facilisis, mi in tristique elementum, sem magna. </p>
					<span class="fa fa-circle"></span>
				</div>
				<div class="exp_grid1">
					<h4>Freelancer Web Developer</h4>
					<h5>2018</h5>
					<p>I  designed websites for people and companies online. All my projects were made these powerful languages ;
					(Python Flask, HTML5/CSS and JavaScript)</p>
					<span class="fa fa-circle"></span>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div> 
</section> 
<!-- //My experience -->

<!-- comments -->
<section class="comment-w3l" id="contact">
	<div class="container">
		<h3 class="text-center">Contact Me</h3>
		<div class="col-lg-6 col-md-6 col-sm-6" >
			<form action="/" method="post">
                {{ form.hidden_tag() }}
                {{ render_field(form.name, placeholder=form.name.label.text) }}
                {{ render_field(form.email, placeholder=form.email.label.text) }}
                {{ render_field(form.phone, placeholder=form.phone.lable)}}
                {{ render_field(form.comment, placeholder=form.comment.label.text) }}
				<button type="submit" class="btn btn-primary">Send Message</button>
            </form>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6 comment-agile2" data-aos="flip-right">
			<h4>Contact me for more details</h4>
			<p class="comment-w3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed insapien urna. Aenean Sed insapien urna in diam lacus. Nullam nisl urna, in consequat eget enim vitae, faucibus malesuada consectetur adipisc ingelit in consequat enim vitae</p>
			
			<h5><span class="fa fa-phone"></span> (+233)27-279-0174 / (+233)20-081-2752</h5>
			<h5><span class="fa fa-envelope"></span> <a href="mailto:name@example.com"> gphileto@gmail.com</a></h5>
			<h5><span class="fa fa-map-marker"></span> Accra - Dansoman Oblogo street</h5>
			<h5><span class="fa fa-twitter"></span> twitter/@my_website</h5>
			<h5><span class="fa fa-instagram"></span> instagram/@my_website</h5>
		</div>
		<div class="clearfix"></div>
	</div>
</section>
<!-- /comments -->
<div class="w3l_footer">
		<div class="container">
			<h3>Thanks for visiting my site</h3>
				<div class="connect-social">  
					<ul>
						<li class="connect">Connect me with : </li>
						<li><a href="#" class="social-button facebook"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#" class="social-button twitter"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#" class="social-button google"><i class="fa fa-google-plus"></i></a></li>
						<li><a href="#" class="social-button linkedin"><i class="fa fa-linkedin"></i></a></li>
					</ul>
				</div>
			<p class="agileits_w3ls_copyright">© Personal website. All rights reserved | Design by <a href="#">AchPhix.</a></p>
			<div class="arrow-container animated fadeInDown">
				<a href="#home" class="arrow-2 scroll">
					<i class="fa fa-angle-up"></i>
				</a>
				<div class="arrow-1 animated hinge infinite zoomIn"></div>
			</div>
		</div>
	</div>
	<!--//footer -->


<!-- Default-JavaScript-File -->
	<script type="text/javascript" src="static/js/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="static/js/bootstrap.min.js"></script>
<!-- //Default-JavaScript-File -->

<!-- gauge-meter -->
	<script src="static/js/jquery.gauge.js"></script>
	<script>
		$(document).ready(function (){
			$("#gauge1").gauge(90,{color: "#ff4f81",unit: " %",type: "halfcircle"});
			$("#gauge2").gauge(70, {color: "#2dde98", unit: " %",type: "halfcircle"});
			$("#gauge3").gauge(75, {color: "#00aeff",unit: " %",type: "halfcircle"});
			$("#gauge4").gauge(40, {color: "#ffb900",unit: " %",type: "halfcircle"});
		});
	</script>
<!-- //gauge-meter -->

<!--menu script-->
<script type="text/javascript" src="static/js/modernizr-2.6.2.min.js"></script>
		<script src="static/js/jquery.fatNav.js"></script>
		<script>
		(function() {
			
			$.fatNav();
			
		}());
		</script>

<!--Start-slider-script-->
	<script defer src="static/js/jquery.flexslider.js"></script>
		<script type="text/javascript">
		
		$(window).load(function(){
		  $('.flexslider').flexslider({
			animation: "slide",
			start: function(slider){
			  $('body').removeClass('loading');
			}
		  });
		});
	  </script>
<!--End-slider-script-->

<!-- smooth scrolling -->
	<script src="static/js/SmoothScroll.min.js"></script>
<!-- smooth scrolling -->

<!-- scrolling script -->
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script> 
<!-- //scrolling script -->
	
	
</body>
<!-- //Body -->
</html>